body {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container, .screen {
    border: 2px solid black;
    border-radius: 5px;
}

.container {
    width: 300px;
    height: 400px;
    background-color: grey;
}

.screen {
    display: block;
    text-align: right;
    padding: 15px 25px;
    font-size: 20px;
    font-family: 'Courier New', Courier, sans-serif;
    margin: 10px;
    background-color: rgb(127, 165, 50);
}